@border_color: solid 1px #ddd;

& {
  font-weight: light;
}

img {
  vertical-align: top;
}

#target {
  position: relative;
  z-index: 100;
  ul.nav.nav-pills li a{
    font-size: 85%;
  }
}

.signin {
  position: relative;
  cursor: pointer;
  .popover.bottom {
    margin-left: -170px !important;
    width: 400px;
    max-width: none !important;
    left: auto;
    .arrow {
      &:before {
        border-bottom-color: black;
        border-bottom-width: 12px;
      }
      margin-left: 140px
    }
  }
}

