div.logo {
  margin-left: 50%;
  img {
    margin: 70px 0 30px -200px;
    height: 120px;
  }
}


.code {
  margin: 5px 0 10px 5px;
}

#powered_by > div {
  text-align: center;
  text-transform: uppercase;
  color: #ccc;
}

#powered_imgs  a[target] {
  width: 100%;
  a[target]{

  }
  text-align: center;
}

#powered_imgs img {
  border: 1px solid transparent;
  height: 40px;
}

#nodejs img {
  height: 30px;
  padding-left: 10px;
}

#mongo img {
  margin-top: -4px;
}

#underscore img {
  height: 30px;
  padding-top: 5px;
}

.gratis {
  text-align: justify;
  font-size: 16px;
}